<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Contactos</title>
	<script src="static/js/vendor/jquery-3.1.0.js"></script>

	<script src="static/js/vendor/underscore-min.js"></script>
	<script src="static/js/vendor/backbone-min.js"></script>


	<script src="static/js/models/ContactosHome.js"></script>
	<script src="static/js/views/LibroView.js"></script>
	<script src="static/js/app.js"></script>
</head>
<body>
	<div id="content">
		<div id="ui"></div>
		<div id="app"></div>
	</div>
</body>
<script type="text/template" id="searchTemplate">
<h2>Lista de Contactos</h2>
<p>
	<strong>Buscar</strong>
	&nbsp;&nbsp;&nbsp;&nbsp;

	Apellido o Nombre: <input id="titulo" onKeyUp="onApellidoFilter()" value='<%= filter %>'/>

	&nbsp;&nbsp;&nbsp;&nbsp;

	<strong>Ordenar</strong>
			<select onChange="onChangeSortOrder()" id="sortField">
				<option <% if(sortField === "apellido"){ %> selected <% } %> value="apellido">Apellido</option>
				<option <% if(sortField === "nombre"){ %> selected <% } %> value="nombre">Nombre</option>
				<!-- podríamos ordenar por editorial tambien-->
				<!-- <option value="autor">Editorial</option> -->
		</select>
	<select onChange="onChangeSortOrder()" id="sortOrder">
			<option <% if(sortOrder === "asc"){ %> selected <% } %> value="asc">Ascendente</option>
		<option <% if(sortOrder === "desc"){ %> selected <% } %> value="desc">Descendente</option>
	</select>
</p>
</script>
<script type="text/template" id="itemTemplate">
    <div>

    	<a href='#/libro/<%= id %>'>
			<img src='<%= img %>' width='95' height='150'>
		</a>
		<p >
	    	<a href='#/libro/<%= id %>'><%= apellido %></a>
	    	<br/><br/>
			by <strong><%= nombre %></strong>
			<br/><br/>
			<%= alias %>
	    </p>
    </div>
 </script>

 <script type="text/template" id="fichaTemplate">
 	<a href="#/contactos">< volver</a>
	<h2><%= apellido %></h2>
	<p>
		<img src='<%= img %>' width='95' height='150'>
		<br/><br/>
		by <strong><%= nombre %></strong>
		<br/><br/>
		<i><%= alias %></i>
		<br/><br/>
		<%= telefono %>
    </p>
 </script>


<script type="text/javascript">
	$(function(){

		var bootstrap = new ContactosList();

		bootstrap.fetch();

		App.start(bootstrap);

		//ui event listeners
		onChangeSortOrder = function()
		{
			App.sortBy($('#sortField').val(), $('#sortOrder').val());
		}

		//ui event listeners
		onTituloFilter=function()
		{
			App.filterBy($('#apellido').val());
		}

	});
</script>

</html>
